<div class="footer">
  <div>
    <a href="#">Mentions légales</a>
    <a href="#">Nos CGU-CGV</a>
  </div>
  <a href="https://emrose.herokuapp.com/" style="font-size: 12px">Site réalisé par EMROSE.fr </a>
</div>
