<div class="container form-container" style="margin-top: 100px;">
  <div>
    <div>
      <h2 style="color: $dark-gray;"><%= "Vos informations" %></h2>
      <% if current_user %>
        <%= render 'form_with_user' %>
      <% else %>
        <%= render 'form_without_user' %>
      <% end %>
  </div>
  <div>
    <%= link_to 'Retour au panier', :back, style:"color: $dark-gray;"%>
  </div>
</div>

