<div class="container form-container" style="margin-top: 100px;">
  <div>
    <div>
      <h2 style="color: $dark-gray;"><%= "Vos informations" %></h2>
      <% if current_user %>
        <%= render 'form_with_user' %>
      <% else %>
        <%= render 'form_without_user' %>
      <% end %>
  </div>
  <div style="display: flex; justify-content: space-between; margin-top: 16px;">
    <%= link_to 'Retour au panier', :back, style:"color: $dark-gray;"%>
    <a href="#">Nos CGU-CGV</a>
  </div>
</div>

