<head>
  <style>
  body { margin: 0; padding: 0; }
  #map { width: 50%; height: 50vh;}
  </style>
  <script src="https://apps.elfsight.com/p/platform.js" defer></script>
</head>

<div class= "container" style="margin-top: 100px;">
  <div class="section-home">
    <div class= "univers-left">
      <img src="assets/univers-left.png" alt="">
    </div>
    <div class= "univers-right">
      <img src="assets/univers-right2.png" alt="">
      <div class="button-diagonal" id="button-home-univers">
        <%= link_to univers_path do %>
          <button>Ça m'intrigue!</button>
        <% end %>
        <span class="triangle-top-left"></span>
        <span class="triangle-bottom-right"></span>
      </div>
    </div>
  </div>
</div>

<div class= "container">
  <div class="section-home">
    <div class= "boutique-left">
      <%= link_to products_path do%>
        <img src="assets/boutique-left.png" alt="">
      <% end %>
    </div>
    <div class= "boutique-right">
      <img src="assets/boutique-right.png" alt="">
    </div>
  </div>
</div>

<div class= "container">
  <div class="section-home">
    <div class= "atelier-left">
      <img src="assets/atelier-left.png" alt="">
    </div>
    <div class= "home-atelier-right button-diagonal">
      <h2>LES ATELIERS <br>CRÉATIFS</h2>
      <h4>Workshops à l’Atelier 28</h4><br>
      <div class="button-diagonal">
        <%= link_to event_path do %>
          <button type="button" id="button-home-atelier">Je veux essayer !</button>
        <% end %>
        <span class="triangle-top-left"></span>
        <span id="triangle-bottom-right-home-studio"></span>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="elfsight-app-a6106147-0ab9-4475-87ed-f762b85f4529"></div>
</div>

<div class="map_contact" id="map">
  <script class="map-style">
    mapboxgl.accessToken = "<%= ENV['MAPBOX_API_KEY'] %>";
  var map = new mapboxgl.Map({
  container: 'map', // container id
  style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
  center: [6.0470777, 43.1093471], // starting position [lng, lat]
  zoom: 17 // starting zoom
  });
  </script>
  <div id="contact">
    <h3>Samedi 28</h3>
    <h6>ZA Les castors<br>83320 - Carqueiranne</h6>
  </div>
</div>
