<div style="text-align: center;">
  <br>
  <p>" J'AI CONÇU SAMEDI 28 COMME UN VÉRITABLE LIEU DE VIE :</p>
  <p>DÉCOUVRIR, PARTAGER, ÉCHANGER, APPRENDRE ...</p>
  <p>UN ESPACE POUR LES AMATEURS D'OBJETS, LES ESPRITS</p>
  <p>CRÉATIFS ET LES CURIEUX ! "</p>
  <p>Bilitis Augier - Créatrice</p>
</div>
<div class: "container univers">
  <div class: "univers-left">
    <img src="assets/univers-left.png" alt="">
  </div>
  <div class: "univers-right">
    <img src="assets/univers-right.png" alt="">
  </div>
</div>
<div class: "container">
  <%= link_to products_path do%>
    <h2>LA BOUTIQUE</h2>
  <% end %>
</div>
<div class: "container">
  <h2> Studio Aménagement</h2>
</div>
<div class: "container">
  <%= link_to root_path do%>
    <h2>LES ATELIERS CRÉATIFS</h2>
  <% end %>
</div>


