<div class='container' style="margin-top: 11vh; padding-top: 32px;">
  <h3>Mentions légales</h3>
  <br>
  <p>Samedi 28</p>
  <p>domicilité au 129 DOM DU BEAU VEZE 83320 CARQUEIRANNE</p>
  <p>société à responsabilité limitée unipersonnelle enregistrée sous le n° SIRET 850659996 / Directrice de la publication : Mme Bilitis AUGIER</p>
  <p>06.71.99.89.56 / boutique@samedi28.fr</p>
  <br>
  <p>Société éditrice, conceptions graphique et technique, développement du site internet, ci-après la société :</p>
  <p>Emrose SASU</p>
  <p>3 rue d'Estouteville, 50260 Bricquebec en Cotentin</p>
  <p>Société par Actions Simplifiée Unipersonnelle de droit français</p>
  <p>Capital de 500,00 euros</p>
  <p>Registre du Commerce et des Sociétés de Paris sous le numéro XXX XXX XXX</p>
  <p>Email : roseemmanuel@hotmail.com - Téléphone : 0659777183</p>
  <br>
  <p>Hébergement du site internet, ci-après la société : </p>
  <p>Heroku (Salesforce - The Landmark @ 1 Market St. Suite 300 - San Francisco, CA 94105)</p>
</div>

