<div class="container" style="margin-top: 100px;">
  <h1>STUDIO EN AMENAGEMENT D’ESPACE ET DECORATION</h1>
  <div class="studio-cards">
    <div class="studio-card">
        <h4><strong>Formule</strong> comprenant une consultation déco en boutique <br>à 250 € TTC.</h4>
        <p>(devis sur mesure pour un suivit et accompagnement de chantier)</p>
      </div>
      <div class="studio-card">
        <h4><strong>Formule</strong> comprenant un shopping personnalisé en <strong>boutique</strong><br>ou sur le <br><strong>Salon Maison & Objet</strong>.</h4>
      </div>
      <div class="studio-card">
        <h4>Décrivez nous votre projet</h4>
      </div>
  </div>
</div>
