<div class="container" style="margin-top: 100px;">
  <div class="studio-cards">
    <div class="studio-card studio-card-border">
      <%= link_to new_contact_path do %>
        <h3 class="title_formule">Formule #1</h3>
        <h5>Consultation déco en boutique <br>à 250 € TTC.</h5>
        <p>(devis sur mesure pour un suivi et un accompagnement de chantier.)</p>
      <% end %>
    </div>
    <div class="studio-card studio-card-border">
      <%= link_to new_contact_path do %>
        <h3 class="title_formule">Formule #2</h3>
        <h5>Shopping personnalisé en <strong>boutique</strong> ou <br> sur le <strong>Salon Maison & Objet</strong>.</h5>
      <% end %>
    </div>
    <div class="studio-card">
      <%= link_to new_contact_path do %>
        <h3 class="title_formule">Formule #3</h3>
        <h5>Décrivez nous votre projet</h5>
      <% end %>
    </div>
  </div>
  <div class="button-diagonal" id="button-diagonal-studio">
    <%= link_to new_contact_path do %>
      <button>Votre projet</button>
    <% end %>
    <span class="triangle-top-left"></span>
    <span class="triangle-bottom-right"></span>
  </div>
</div>
