<div class="pages-style" style="margin-top: 100px;">
  <br>
  <h1>UNIVERS</h1>
  <br>
  <p style="text-align: justify;">"J’ai imaginé Samedi 28 comme un véritable lieu de vie, un espace pour les amateurs d’objets, un lieu où l’on peut à la fois <strong>DECOUVRIR</strong>, <strong>PARTAGER</strong>, <strong>ECHANGER</strong> et <strong>APPRENDRE</strong>. J’ai voulu un espace chaleureux et ludique, c’était important pour moi de mixer déco et Arts créatifs. Mon expérience dans l’événementiel et l’aménagement la création d’espaces éphémères me permet de compléter l’offre de la boutique en proposant aux particuliers comme aux professionnels, des conseils en aménagement d’espace et décoration personnalisés"</p>
  <p style="text-align: right;"><strong>Bilitis Augier - Créatrice</strong></p>
  <br>
  <p>Samedi 28, c’est une sélection autour de l’art de la table, la décoration, le mobilier intérieur et extérieur, le linge de maison, le luminaire et de toute évidence un corner dédié aux créateurs locaux.</p>
  <br>
  <div class="univers">
    <div class= "univers-left">
      <img src="assets/univers-left.png" alt="">
    </div>
    <div class= "univers-right">
      <img src="assets/univers-right2.png" alt="">
      <div class="button-diagonal" id="button-home-univers">
        <%= link_to root_path do %>
          <button>Accueil</button>
        <% end %>
        <span class="triangle-top-left"></span>
        <span class="triangle-bottom-right"></span>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>


