<h1>Vous avez une nouvelle demande pour du conseil :</h1>

<p>De la part de : <%= @contact.email %><p>
<p>Téléphone : <%= @contact.phone %></p>
<br>
<p>Son message : </p>
<p><%= @contact.message %></p>
