<p>Bonjour <%= @subscription.fullname %>,</p>
<br>
<p>Nous vous confirmons votre inscription à l'évènement <%= @@subscription.event.title %>.</p>
<p>Nous sommes ravi de vous accueillir à l'Atelier 28.</p>
<br>
<h3>Samedi 28</h3>
<h6>ZA Les castors</h6>
<h6>83320 - Carqueiranne</h6>
<h6><i class="fas fa-mobile-alt"></i> 06 71 99 89 56</h6>
<h6><i class="fas fa-envelope"></i> boutique@samedi28.com</h6>
