<p>Bonjour <%= @subscription.firstname %>,</p>
<br>
<p>Nous vous confirmons votre inscription à l'évènement <%= @subscription.event.title %>.</p>
<p>Nous sommes ravis de vous accueillir à l'Atelier 28.</p>
<br>
<h3><strong>Samedi 28</strong></h3>
<p>ZA Les castors</p>
<p>83320 - Carqueiranne</p>
<p><i class="fas fa-mobile-alt"></i> 06 71 99 89 56</p>
<p><i class="fas fa-envelope"></i> boutique@samedi28.com</p>
