<p>Bonjour,</p>
<br>
<p>Votre commande est confirmée.</p>
<p>Détails :</p>
<ul>
  <% @order.line_items.each do |item| %>
    <li><%= item.quantity %> X <%= item.product.name %></li>
  <% end %>
</ul>
<p>--------------------------------</p>
<p>Total de votre commande: <%= @order.amount %> €.</p>
<br>
<% if @order.delivery == "Livraison Colissimo (frais de port 5,00€)"%>
  <p>Elle vous sera adressée dans les plus brefs délais avec Colissimo.</p>
<% elsif  @order.delivery == "Livraison gratuite dans un rayon de 40km"%>
  <p>Nous allons vous appeler très prochainement pour convenir d'une date de livraison.</p>
<% else %>
  <p>Vous pouvez venir la récupérer dans notre Boutique pendant les horaires d'ouvertures.</p>
<% end %>
<p>Nous restons à votre disposition.</p>
<br>
<h3><strong>Samedi 28</strong></h3>
<p>ZA Les castors</p>
<p>83320 - Carqueiranne</p>
<p><i class="fas fa-mobile-alt"></i> 06 71 99 89 56</p>
<p><i class="fas fa-envelope"></i> boutique@samedi28.com</p>
<p>Ouvert du Lundi au Samedi (matin: 10h-13h / après-midi: 14h-19).</p>
<br>
<p>--------------------------------</p>
<p>Cet email est généré automatiquement. Merci de ne pas y répondre.</p>
<p>--------------------------------</p>
