<div class="container "style="margin-top: 100px;">
  <div class="row py-4">
    <div class="col">
      <h1>Récapitulatif de votre commande :</h1>
      <p>Commande de <strong><%= @order.id%></strong> pour <strong><%= humanized_money_with_symbol @order.amount %></strong></p>
      <div class="button-diagonal">
        <button id="pay">Payer</button>
      </div>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
