.button-diagonal {
  position: relative;
  button {
    height: 60px;
    width: 220px;
    border: solid 9px $dark-gray;
    background-color: $lighter-gray;
    font-color: $dark-gray;
    font-size: 16px;
    font-family: "Maven Pro", "sans-serif";
    font-weight: bold;
    z-index:1;
    position: relative;
  &:hover { background-color: $dark-gray; color: white; border: solid 9px $black-coral;}
  }
  .triangle-top-left {
      position: absolute;
      top: 0px; left: 0px;
      z-index:9;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 0;
      border-color: white transparent transparent transparent;
  }
  .triangle-bottom-right {
    position: absolute;
    bottom: 0px; left: 210px;
    z-index:9;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent white transparent;
  }
}
// ID TO CUSTOM INPUT OF F.SUBMIT
#button-diagonal-cart {
  border: none;
  background: transparent;
  font-color: $dark-gray;
  font-size: 16px;
  font-family: "Maven Pro", "sans-serif";
  font-weight: bold;
  &:hover {color: white;}
}
#button-diagonal-studio {
  margin-left: 40%;
  margin-top: 32px;
}
#button-home-univers {
  margin-left: 40px;
  margin-top: 20px;
}
#button-home-atelier {
  width: 230px;
}
#button-home-boutique {
  button {
    width: 283px;
  }
}
#button-home-event {
  margin-left: 40px;
  margin-top: 20px;
}
#triangle-bottom-left-home-studio {
  position: absolute;
  top: 0px; left: 0px;
  z-index:9;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: white transparent transparent transparent;
}
#triangle-bottom-right-home-studio {
  position: absolute;
  bottom: 0px; left: 220px;
  z-index:9;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent white transparent;
}

#triangle-bottom-right-home-boutique {
  position: absolute;
  bottom: 0px; left: 273px;
  z-index:9;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent $light-gray transparent;
}
#triangle-bottom-right-event {
  position: absolute;
  top: 50px; right: 0px;
}

#button-product-show {
  button {
    height: 48px;
    width: 199px;
    border: solid 7px #373A45;
    background-color: $lighter-gray;
    font-color: $dark-gray;
    font-size: 14px;
    font-family: "Maven Pro", "sans-serif";
    font-weight: bold;
  }
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  #button-diagonal-studio {
    margin-left: 25%;
    margin-top: 28px;
    button {
      height: 40px !important;
      width: 210px !important;
      font-size: 16px !important;
    }
  }
  .button-diagonal {
    button {
      height: 30px;
      width: 120px;
      border: solid 6px $dark-gray;
      background-color: $lighter-gray;
      font-color: $dark-gray;
      font-size: 9px;
    }
    .triangle-bottom-right {
      position: absolute;
      bottom: 0px; left: 110px;
    }
  }
  #button-home-boutique {
    button {
      width: 163px;
      font-size: 9px;
    }
  }
  #button-home-atelier {
    width: 120px;
    margin-top: 15px;
  }
  #triangle-bottom-right-home-boutique {
    position: absolute;
    bottom: 0px; left: 153px;
  }
  #triangle-bottom-right-home-studio {
    position: absolute;
    bottom: 0px; left: 110px;
  }
  #triangle-bottom-left-home-studio {
    position: absolute;
    top: 15px; left: 0px;
  }
  #triangle-bottom-right-page-studio {
    position: absolute;
    bottom: 0px; left: 110px;
  }
  #triangle-bottom-right-event {
    position: absolute;
    top: 32px; left: 130px;
  }
  #button-home-event {
    width: 180px;
    button {
      width: 140px;
      height: 40px;
    }
  }
  #button-product-show {
    button {
      height: 40px;
      width: 160px;
      border: solid 5px #373A45;
      background-color: $lighter-gray;
      font-color: $dark-gray;
      font-size: 12px;
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  #button-diagonal-studio {
    margin-left: 24%;
  }
  .button-diagonal {
    button {
      height: 45px;
      width: 170px;
      border: solid 6px $dark-gray;
      font-size: 12px;
    }
    .triangle-bottom-right {
      position: absolute;
      bottom: 0px; left: 160px;
    }
  }
  #button-home-boutique {
    button {
      width: 240px;
      font-size: 9px;
    }
  }
  #button-home-atelier {
    width: 160px;
    margin-top: 27px;
  }
  #triangle-bottom-right-home-boutique {
    position: absolute;
    bottom: 0px; left: 230px;
  }
  #triangle-bottom-right-home-studio {
    position: absolute;
    bottom: 0px; left: 150px;
  }
  #triangle-bottom-left-home-studio {
    position: absolute;
    top: 25px; left: 0px;
  }
  #triangle-bottom-right-event {
    position: absolute;
    top: 32px; left: 130px;
  }
  #button-home-event {
    width: 180px;
    button {
      width: 140px;
      height: 40px;
    }
  }
}
