.cart {
  position: relative;
  display: flex;
  justify-content: flex-end;
  p {
    border-radius: 50%;
    font: 20px;
    width: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: red;
    position: absolute;
    right: 10px; top: 10px;
    z-index: 1;
  }
  i {
    margin: 20px;
    font-size: 32px;
    color: $dark-gray;
    position: relative;
    z-index: 2;
  }
}
