//CARD FRO WORKSHOPS

.workshop-cart {
  border: 1px solid black;
}

//CARD FOR PRODUCTS



.wrapper {
  width: 300px;
  height: 420px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
}


.top {
  height: 80%;
  width: 100%;
  position: relative;
  img {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    overflow: hidden;
    object-fit: cover;
  }
  .front-picture {
    transition: opacity 0.5s;
    &:hover {
      opacity: 0;
    }
  }
  .back-picture {
    opacity: 0;
    transition: opacity 0.5s;
    &:hover {
      opacity: 1;
    }
  }
}

.bottom {
  padding: 0px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  text-decoration: none;
  i {
    font-size: 28px;
    color: grey;
    position: absolute;
    bottom: 60px; left: 260px;
  }
  a  {
    color: grey;
    &:hover {color: grey; text-decoration: none;}
  }
}

// GRID display
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
