// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "button";
@import "card";
@import "cart";
@import "margin-navbar";
@import "navbar";
@import "product";

.content-wrapper {
  min-height: calc(100vh - 70px - 80px);
}

h2 {
  color: black;
  text-decoration: none;
  & :hover {
    color: black;
    text-decoration: none;
  }
}

.logo {
  img { height: 64px; width: 64px}
}

.pages-style {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

// FLEX BOX FOR ANY SECTION UNIVERS BOUTIQUE ATELIER CONSEIL
.section-home {
  display: flex;
  padding: 10px 50px;
}
.section-home-map {
  display: flex;
  padding: 10px 50px;
}
//CSS for Section univers into home page

.univers-left {
  flex-basis: 50%;
  img {
    width: 100%;
    max-width: 505px;
  }
}
.univers-right {
  flex-basis: 50%;
  img {
    width: 60%;
    max-width: 300px;
    height: 300px;
  }
}
//CSS for Section boutique into home page
.boutique-left {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  img {
    position: absolute;
    top: 120px; right: 0px;
    align-items: flex-end;
    width: 50%;
    max-width: 400px;
  }
  button {
    font-size: 16px;
  }
  h2 {
    position: absolute;
    top: 35%;
    right: 40%;
    color: $dark-gray;
  }
}
.boutique-right {
  flex-basis: 50%;
  z-index: 2;
  img {
    width: 100%;
    max-width: 505px;
  }
}
//CSS for Section atelier into home page

.atelier-left {
  flex-basis: 50%;
  img {
    width: 100%;
    max-width: 505px;
  }
}
.home-atelier-right {
  flex-basis: 50%;
  border: solid 2px $gray;
  height: 320px;
  width: 60%;
  max-width: 380px;
  text-align: left;
  padding: 50px;
  margin-top: 108px;
  color: $gray;
  h1, h2, h4{
    color: $dark-gray;
  }
}
//CSS for atelier page (event page)
.page-atelier {
  display: flex;
  flex-direction: row;
  padding: 10px 50px;
  margin-top: 20px;
}
.page-atelier-right {
  flex-basis: 50%;
  margin-left: 20px;
  text-align: left;
  color: $gray;
  h1, h2, h3{
    color: $dark-gray;
  }
}
.page-atelier-bottom {
  h1, h2, h3{
    color: $dark-gray;
  }
}

.map-style {
  height: 20vh;
  width: 300px;
  > script > a{
      color: white !important;
  }
}

.map_contact {
  display: flex;
  flex-direction: row;
}
#contact {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  color: $dark-gray;
}
#map {
  width: 50%;
  height: 50vh;
}

.mapboxgl-control-container{
  a {
    color: white !important;
  }
}

.eui-widget-title, .eapps-instagram-feed-title {
  display: none !important;
}
.elfsight-app-a6106147-0ab9-4475-87ed-f762b85f4529, .eapps-instagram-feed, .eapps-widget, .eapps-widget-show-toolbar {

}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .section-home {
    display: flex;
    padding: 10px 10px;
  }
  .univers-left {
    img {
      width: 130px;
    }
  }
  .home-atelier-right {
    flex-basis: 50%;
    border: solid 2px $gray;
    height: 320px;
    width: 50%;
    max-width: 360px;
    text-align: left;
    padding: 50px;
    margin-top: 108px;
    color: $gray;
    h1, h2, h4{
      color: $dark-gray;
    }
  }
  .univers-left {
    flex-basis: 50%;
    img {
      width: 100%;
      height: 100%;
      max-width: 505px;
    }
  }
  .univers-right {
    flex-basis: 50%;
    img {
      width: 60%;
      height: 60%;
    }
  }
  .boutique-left {
    img {
      position: absolute;
      top: 20px; right: 0px;
    }
    h2 {
      position: absolute;
      top: 19%;
      right: 30%;
      font-size: 24px;
    }
  }
  .boutique-right {
    img {
      width: 130px;
    }
  }
  .home-atelier-right {
    height: 138px;
    width: 60%;
    padding: 15px 0px 0px 15px;
    margin-top: 0;
    color: $gray;
    width: 150px;
    h2 {
      font-size : 16px;
      font-weight: bold;
    }
    h4 {
      font-size : 12px;
    }
  }
  .section-home-map {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
  }
  #map {
  width: 100%;
  height: 50vh;
  }
}
