// Import your components CSS files here.
@import "alert";
@import "atelier";
@import "avatar";
@import "button";
@import "card";
@import "cart";
@import "form";
@import "margin-navbar";
@import "navbar";
@import "product";

.content-wrapper {
  min-height: calc(100vh - 70px - 80px);
}

h2 {
  color: black;
  text-decoration: none;
  & :hover {
    color: black;
    text-decoration: none;
  }
}

.logo {
  img { height: 64px; width: 64px}
}

.pages-style {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

// FLEX BOX FOR ANY SECTION UNIVERS BOUTIQUE ATELIER CONSEIL
.section-home {
  display: flex;
  padding: 10px 50px;
}
.section-home-map {
  display: flex;
  padding: 10px 50px;
}
//CSS for Section univers into home page

.univers-left {
  flex-basis: 50%;
  img {
    width: 100%;
    max-width: 505px;
  }
}
.univers-right {
  flex-basis: 50%;
  img {
    width: 60%;
    max-width: 300px;
    height: 300px;
  }
}
//CSS for Section boutique into home page
.boutique-left {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  img {
    position: absolute;
    top: 120px; right: 0px;
    align-items: flex-end;
    width: 50%;
    max-width: 400px;
  }
  button {
    font-size: 16px;
  }
  h2 {
    position: absolute;
    top: 35%;
    right: 40%;
    color: $dark-gray;
  }
}
.boutique-right {
  flex-basis: 50%;
  z-index: 2;
  img {
    width: 100%;
    max-width: 505px;
  }
}


.map-style {
  height: 20vh;
  width: 300px;
  > script > a{
      color: white !important;
  }
}

.map_contact {
  display: flex;
  flex-direction: row;
}
#contact {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  color: $dark-gray;
  margin: 10vh;
}
#map {
  width: 50%;
  height: 50vh;
}

.mapboxgl-control-container{
  a {
    color: white !important;
  }
}

.eui-widget-title, .eapps-instagram-feed-title {
  display: none !important;
}
.elfsight-app-a6106147-0ab9-4475-87ed-f762b85f4529, .eapps-instagram-feed, .eapps-widget, .eapps-widget-show-toolbar {

}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .section-home {
    display: flex;
    padding: 10px 10px;
  }
  .univers-left {
    img {
      width: 130px;
    }
  }

  .univers-left {
    flex-basis: 50%;
    img {
      width: 100%;
      height: 100%;
      max-width: 505px;
    }
  }
  .univers-right {
    flex-basis: 50%;
    img {
      width: 60%;
      height: 60%;
    }
  }
  .boutique-left {
    img {
      position: absolute;
      top: 52px; right: 0px;
    }
    h2 {
      position: absolute;
      top: 25%;
      right: 30%;
      font-size: 24px;
    }
  }
  .boutique-right {
    img {
      width: 100%;
      height: 100%;
      max-width: 505px;
    }
  }

  .section-home-map {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
  }
  #map {
  width: 100%;
  height: 50vh;
  }
}

// Medium device
@media (min-width: 576px) and (max-width: 992px) {
  .section-home {
    display: flex;
    padding: 10px 10px;
  }
  .univers-left {
    img {
      width: 130px;
    }
  }

  .univers-left {
    flex-basis: 50%;
    img {
      width: 100%;
      height: 100%;
      max-width: 505px;
    }
  }
  .univers-right {
    flex-basis: 50%;
    img {
      width: 60%;
      height: 60%;
    }
  }
  .boutique-left {
    img {
      position: absolute;
      top: 100px; right: 0px;
    }
    h2 {
      position: absolute;
      top: 34%;
      right: 34%;
      font-size: 36px;
    }
  }
  .boutique-right {
    img {
      width: 100%;
      height: 100%;
      max-width: 505px;
    }
  }

  .section-home-map {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
  }
  #map {
  width: 100%;
  height: 50vh;
  }
}
