<div class="cards">
  <% @products.each do |product| %>
   <li>
    <span><%= cl_image_tag product.photo.key, height: 100, width: 70, crop: :fill, quality: 100, gravity: :auto %></span>
     <p>
       <%= product.name %>
       <%= product.price %>
       <%= link_to "Découvrir ce produit", product_path(product), class: "btn btn-primary" %>
     </p>
   </li>
  <% end %>
</div>

<div class="wrapper">
  <div class="container">
    <div class="top" style="background-image: url(../assets/verriere.jpg); background-size: cover"></div>
    <div class="bottom">
      <div class="left">
        <div class="details">
          <h1>Name</h1>
          <p>15 €</p>
        </div>
        <div class="buy"><i class="material-icons">Ajoutez</i></div>
      </div>
      <div class="right">
        <div class="done"><i class="material-icons">done</i></div>
        <div class="details">
          <h1>Chair</h1>
          <p>Added</p>
        </div>
        <div class="remove"><i class="material-icons">clear</i></div>
      </div>
    </div>
  </div>
  <div class="inside">
    <div class="icon"><i class="material-icons">info</i></div>
    <div class="contents">
      <p>description</p>
    </div>
  </div>
</div>
