<div>
  <% @products.each do |product| %>
   <li>
     <p>
       <%= product.name %>
       <%= product.price %>
       <%= link_to "Découvrir ce produit", product_path(product), class: "btn btn-primary" %>
     </p>
   </li>
  <% end %>
</div>
