<div>
  <h1>
    <%= @product.name %>
  </h1>
  <p><%= @product.description %></p>
  <h3>
    <%=@product.price humanized_money_with_symbol %>
  </h3>
  <br>
  <%= link_to "Add to cart", line_items_path(product_id: @product.id), method: :post, class:'btn-primary' %>
</div>
